<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="storageAccountConnStr" value="DefaultEndpointsProtocol=https;AccountName=mystorageaccount0001;AccountKey=gBiPwWhzmFJ0pj1Z+o8JrqI1IHXfSnS8nOaM8JwE11QH/Wkco5/kzYmcjI4dKWCppucK2Ydy9crB78b61CjAIA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>